/*=============NAVIGATION BAR ===============*/

 .navbar {
    overflow: hidden;
    background-color: #1e3d59;
    font-family: Arial;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
 
  .navbar a {
    float: left;
    font-size: 18px;
    color: #f5f0e1;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ff6e40;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f5f0e1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } 

/*=================Home page======================*/

.home-page {
  display: flex;
  padding: 60px;
}

.cta {
  margin-right: 100px;
  min-width: 400px;
  color: #1e3d59;
  
}
.cta h1 {
  font-size: 40px;
}

.cta p {
  line-height: 25px;
  font-size: 20px;
  color: #2f506d;
}

.btn-primary {
  display: block;
	padding: 20px 30px;
	text-transform: uppercase;
	background: #ff6e40;
	width: 160px;
  box-sizing: border-box;
  border:solid;
  border-color: #1e3d59;
	
}

.btn-primary a {
  color: #f9f9f9;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.btn-primary:hover {
  background-color:#db3907; 
}


.slideshow-container {
    
    padding-right: 100px;
    min-width: 700px;
    max-height: 1350px;
    position: relative;
    margin: auto;
  }
  
  
  
  /* buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #1e3d59;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 100px;
    
  }
  
  
  .prev:hover, .next:hover {
    background-color:#ff6e40;
  }


  .text p {
    color: #1e3d59;
    text-decoration: line-through;
    font-size: 22px;
    padding-right: 100px;
    position: absolute;
    bottom: 400px;

    width: 100%;
    text-align: center;
  }
  .text span {
    color:  #ff6e40;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 370px;
    padding-right: 100px;
    width: 100%;
    text-align: center;
  }


 
  .numbertext {
    color: #1e3d59;
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  

  .dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    
    background-color: #ff6e40;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  
  .active, .dot:hover {
    background-color: #1e3d59;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*===========Categories section====================*/

 .categories {
    background-color: #f5f0e1;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  }
  .categories h1 {
   text-align: center;
   color: #1e3d59;
  }
 
  .categories figure {
    display: inline-block;
    
  }
  .categories figcaption {
    color: #486279;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    
  }
 
  .categories figure img {
    opacity: 0.8;
    width: 300px;
    height: 300px;
   
  }
 
  /*===================Subscribe section==============*/
 .subscribe {
    height: 400px;
    margin-top: 50px;
    background-image: url('../img/subscribe5.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 400px;
    
    
    
  }
 
  .subscribe-cta {
    
    color:#1e3d59;
  }
 
  .subscribe-cta h1 {
   padding-top: 120px;
  }
 
 .subscribe-cta p {
   font-size: 18px;
   color:#486279;
 }
 
 .subscribe-cta form {
   color: #486279;
 }
 
 .subscribe-cta button {
   margin-top: 30px;
   padding: 8px 8px;
   font-weight: bold;
   font-size: 14px;
   background-color: #ff6e40;
   border-radius: 6px;
   border-width: 2px;
   border-color: #1e3d59;
 }
 
 .subscribe-cta button a {
   text-decoration: none;
   color: #f9f9f9;
   
 }
  
 .subscribe-cta button:hover {
   background-color:#db3907;
 }
