/*=============NAVIGATION BAR ===============*/

 .navbar {
    overflow: hidden;
    background-color: #1e3d59;
    font-family: Arial;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
 
  .navbar a {
    float: left;
    font-size: 18px;
    color: #f5f0e1;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ff6e40;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f5f0e1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  } 

/*=================Home page======================*/

.home-page {
  display: flex;
  padding: 60px;
}

.cta {
  margin-right: 100px;
  min-width: 400px;
  color: #1e3d59;
  
}
.cta h1 {
  font-size: 40px;
}

.cta p {
  line-height: 25px;
  font-size: 20px;
  color: #2f506d;
}

.btn-primary {
  display: block;
	padding: 20px 30px;
	text-transform: uppercase;
	background: #ff6e40;
	width: 160px;
  box-sizing: border-box;
  border:solid;
  border-color: #1e3d59;
	
}

.btn-primary a {
  color: #f9f9f9;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.btn-primary:hover {
  background-color:#db3907; 
}


.slideshow-container {
    
    padding-right: 100px;
    min-width: 700px;
    max-height: 1350px;
    position: relative;
    margin: auto;
  }
  
  
  
  /* buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #1e3d59;
    font-weight: bold;
    font-size: 22px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
    margin-right: 100px;
    
  }
  
  
  .prev:hover, .next:hover {
    background-color:#ff6e40;
  }


  .text p {
    color: #1e3d59;
    text-decoration: line-through;
    font-size: 22px;
    padding-right: 100px;
    position: absolute;
    bottom: 400px;

    width: 100%;
    text-align: center;
  }
  .text span {
    color:  #ff6e40;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 370px;
    padding-right: 100px;
    width: 100%;
    text-align: center;
  }


 
  .numbertext {
    color: #1e3d59;
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  

  .dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    
    background-color: #ff6e40;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    
  }
  
  .active, .dot:hover {
    background-color: #1e3d59;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*===========Categories section====================*/

 .categories {
    background-color: #f5f0e1;
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  }
  .categories h1 {
   text-align: center;
   color: #1e3d59;
  }
 
  .categories figure {
    display: inline-block;
    
  }
  .categories figcaption {
    color: #486279;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    
  }
 
  .categories figure img {
    opacity: 0.8;
    width: 300px;
    height: 300px;
   
  }
 
  /*===================Subscribe section==============*/
 .subscribe {
    height: 400px;
    margin-top: 50px;
    background-image: url('../img/subscribe5.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 400px;
    
    
    
  }
 
  .subscribe-cta {
    
    color:#1e3d59;
  }
 
  .subscribe-cta h1 {
   padding-top: 120px;
  }
 
 .subscribe-cta p {
   font-size: 18px;
   color:#486279;
 }
 
 .subscribe-cta form {
   color: #486279;
 }
 
 .subscribe-cta button {
   margin-top: 30px;
   padding: 8px 8px;
   font-weight: bold;
   font-size: 14px;
   background-color: #ff6e40;
   border-radius: 6px;
   border-width: 2px;
   border-color: #1e3d59;
 }
 
 .subscribe-cta button a {
   text-decoration: none;
   color: #f9f9f9;
   
 }
  
 .subscribe-cta button:hover {
   background-color:#db3907;
 }

/*==========================Popular items===================*/

 

  .title h1 {
    font-size: 24px;
    color: #1e3d59;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
  }

  .title p {
    text-align: center;
    color: #475766;
    font-size: 22px;
  }
  
  .container-popular {
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .container-items {
    background-color: white;
    display:flex;
    overflow: hidden;
    margin-top: 50px;
  }
  
  
  .col-popular {
    width: 240px;


  }
   .card {
    width: 200px;
    height: 350px;
    padding-right: 50px;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    background-color: white;
    
    
  }
  
  .card-img img {
    width: 150px;
    height: 150px;
    margin-left: 40px;
    
  }
  
  .card-text {
    text-align: center;
    padding-right: 50px;
    margin-left: 40px;
  }
  .card-text h2 {
    font-size: 20px;
    font-weight: bold;
    color:#1e3d59;
  }
  
  .card-text p {
    color:black;
    font-size: 20px;
    color:#ff6e40;
    font-weight: bold;
    text-align: left;
    margin-left:-20px;
    
  }
  
  .card-text span p{
    color:rgb(172, 172, 172);
    font-size: 16px;
    margin-left: 15px;
    
  }
  
  .card-text a {
    font-size: 18px;
    color:#ff6e40;
    
  } 
  
  .popular-button{
    display: flex;
    
  }

  

  .popular-button button {
    height: 40px;
    width: 100px;
    border-color: #1e3d59;
    padding-left: 30px;
    margin-left: 40px;
    margin-top: 10px;
    
  
  }

  .popular-button button a {
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color:#1e3d59;
    margin-right:20px;

    
  }

  .popular-button button:hover {
    background-color:#ff6e40;
  }


  /*==============LATEST=====================*/


.latest1 h1 {
  color: #1e3d59;
  margin-top: 50px;
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
  font-size: 24px;
}

.latest1 p {
  text-align: center;
  color: #475766;
  font-size: 22px;
}
.latest h2 {
  font-size: 17px;
  color: #1e3d59;
  text-align: center;
  
}


.latest-2 {
  display: flex;
  
}

.latest-2 img {
  width: 300px;
  height: 300px;
  padding: 50px;
}
.latest-2 h2 {
  text-align: center;
  color: #1e3d59;
  
}


.latest-2 button {
  height: 50px;
  width: 120px;
  border-color: #1e3d59;
  padding-left: 20px;
  margin-left: 150px;
  margin-top: 10px;
  text-align: center;
  

}

.latest-2 button a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color:#1e3d59;
  margin-right:20px;

  
}

.latest-2 button:hover {
  background-color:#ff6e40;
}

/*--======================ABOUT US-==================-- */

.about-img img {
  height: 300px;
  width: 300px;
  
  padding-left: 475px;
}

.about-us {
  background-color: #f5f0e1;
  margin-top: 70px;
}

.text2 {
  text-align: center;
  color: #1e3d59;
  margin-top: 70px;
}

.text2 h1 {
  text-transform: uppercase;
  padding-top: 50px;
  font-size: 24px;
}

.text .text-content {
  padding-left: 100px;
  padding-right: 100px;
  color:#475766;
  
}

.text-content {
  font-style: italic;
  line-height: 25px;
}
.text-content h3 {
  color:#475766;
}

.why-us {
  display: flex;
  background-color:#dbd5c1;
  
  
}

.ionicon .s-ion-icon {
  width: 100px;
  height: 100px;
}

.why  {
  color:#1e3d59;
  width: 200px;
  padding: 50px;
}


.why h4 span {
  text-align: center;
}

.why h4 {
  text-transform: uppercase;
  text-align: center;
}


/*--======================BLOG-==================--*/

.blog {
  padding-right: 50px;
  
}

.blog h2 {
 text-align: center;
 color: #1e3d59;
 text-transform: uppercase;
 margin-top: 100px;
}

.blog h3  {
  text-align: center;
  color: #1e3d59;
  margin-top: 100px;

 }

 .blog p  {
  text-align: center;
  color: #1e3d59;
  padding-bottom: 20px;
  font-size: 20px;
 }
.blog-stories {
  display: flex;
}

.blog-section {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 30px;
  
  
}

.blog-grid {
  
  list-style: none;
  display: flex;
  text-align: center;
  width: 100%;
}

.blog-grid:after {
  clear:both;
}

.blog-grid:after, .blog-box:before {
  content: "";
  display: table;
}

.blog-grid li {
  width: 370px;
  height: 400px;
  display: inline-block;
  margin: 2px;
}

.blog-box {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out, -webkit-transform 0.2 ease-in-out;
  -moz-transition: 0.2s ease-in-out, -moz-transform 0.2 ease-in-out;
  transition: 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.blog-box:hover {
  transform: scale(1.05);
}

.blog-img-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.4)), url(../img/blog1.jpg);
  background-size: 280px;
  
  
}

.blog-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.4)), url(../img/blog2.jpg);
  background-size: 280px;
}

.blog-img-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.4)), url(../img/blog3.jpg);
  background-size: 280px;
}

.blog-img-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.4)), url(../img/blog4.jpg);
  background-size: 280px;
}

.blog-info {
  position: absolute;
  width: inherit;
  height: inherit;
  
}

.blog-info h3 {
  
  font-family: 'Pacifico';
  font-weight: 400;
  color: white;
  font-size: 16px;
  margin:0px 40px;
  padding: 10px 180px 110px 0px;
  
  
  
}

.blog-info p {
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  padding-right: 50px;
  font-size: 22px;
  text-transform: uppercase;
  
  
}

.blog-info h4 {
  font-family: 'Pacifico';
  font-weight: 400;
  color: white;
  font-size: 20px;
  margin:0px 30px;
  padding-top: 70px;
  padding-right: 170px;
  font-style: italic;
}



/*--======================TESTEMONIALS-==================--*/

.title h2 {
  text-align: center;
 color: #1e3d59;
 text-transform: uppercase;
 margin-top: 100px;
}

.testemonials {
  display: flex;
  margin-top: 100px;
}

.testemonials .wrapper1 {
  background-color: white;
  
}

.testemonials .wrapper1 .text {
  font-size: 17px;
  font-weight: bold;
  color: #1e3d59;
}

.person {
  display: flex;
  padding-left: 70px;
}
.person img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.testemonial {
  width: 200px;
  padding-left: 20px;
}

.testemonial p {
  color:#4a6780;
  font-size: 18px;
  font-style: italic;
}

.testemonial span {
  display: flex;
  
}

.testemonial .name {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  
}



